@model IEnumerable<Zaliczenie.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Courses @ViewData["student_name"]</h1>

<p>
    <a asp-action="Create" asp-route-student_id='@ViewData["student_id"]'>Create New</a>
</p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SignedUpBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SignedUpBy.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LedBy.UserName)
            </td>
            <td>
                <a href='@Url.Action("Index", "Exam", new {course_id=@item.Id})'>Exams</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
